*{
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(19, 17, 17);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: maroon;
    top: 0;
    left: 0;
    position: fixed;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 10%;
    height: 10%;
    border-radius: 50%;

}
.logo h2{
    color: white;
}
.links ul{
    display: flex;
}
.links ul li {
    text-decoration: none;
    list-style: none;
    margin: 2em;
    padding: 1rem;
    color: white;
}
.links ul li:hover{
    background-color: rgb(19, 17, 17);

}
.links ul li a{
    text-decoration: none;
    color: white;

}

/* home */
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 9rem 5rem 3rem 5rem;
}
.home img{
    height: 70vh;
}
.home .introduction{
    display: block;
    width: 60vh;
}
.home .introduction h1{
    font-size: 2.5rem;
    margin-bottom:3rem;
    font-weight: 900;
    color: white;
}
.home  p{
    font-size: 1rem;
    margin-bottom:3rem;
    font-weight: 700;
    color: white;
}
.introduction a{
    text-decoration: none;
}
.introduction a .btn:hover{
    background: maroon;
    cursor: pointer;
}
 .introduction .btn{
    padding: 1rem;
    border-radius: 5px;
}

/* about me */
.aboutme{
    margin: 9rem 5rem 3rem 5rem;
}
.aboutme h1{
    color: white;
    font-size: 3rem;
}
.aboutme .content{
    
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:3rem 9rem;
}
.content .technology-image img{
    width:70%;

}
.content .mystory{
    width: 100%;
    color: white;
    font-size: 1.5rem;
}

/* my projects beging */
.myprojects{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 9rem 5rem 3rem 5rem;
}
.myprojects h1{
    color: white;
    font-size: 3rem;
}
.myprojects ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.myprojects ul li{
    margin: 2rem;
    padding: 1rem;
    list-style: none;
}
.myprojects ul li a{
    text-decoration: none;
    color: white;
}
.myprojects ul li:hover{
    background-color: maroon;

}
 /* contact page */
 .contact{
    margin: 9rem 5rem 3rem 5rem;
 }
 .contact h1{
     color: white;
     font-size: 3rem;

 }
 .contactme{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:3rem 9rem;
 }
 .form{
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     font-size: 1.5rem;
 }
 .form input ,textarea{
     width: 80%;
     padding: 2rem;
     border-radius:0.8rem;

 }
.form button{
     padding:1rem 5rem;
     border-radius: 0.8rem;
 }
 .form button a{
     text-decoration: none;
}
.form  a .button:hover{
    background-color: maroon;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mynumber ul{
    color: white;
}
.mynumber ul li {
    list-style: none;
    display: flex;

}
.mynumber ul li i{
    margin-right: 1rem;

}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social-media i{
    margin: 1.5rem;
}
